<title>Eye Echo</title>
<!--link rel="icon" type="image/png" href="<%=FRONTEND_URL%>/img/leaf-2.png"/-->

<!--script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="9a0e10ab-b363-4aea-857e-5dedb771dc33" type="text/javascript" async> </script-->

<!--script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=0186e089-7bf0-4ab7-b7a2-bd428b2a67bd"> </script-->

<!--script src =  "https://dev.zopim.com/web-sdk/1.5.0/web-sdk.js"></script-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150381341-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-150381341-1');
  gtag('event', 'site loaded');
</script>

<!--script type="text/JavaScript">
window.zESettings = {
  webWidget: {
    helpCenter: {
      originalArticleButton: false
    }
  }
};
document.addEventListener("DOMContentLoaded", function(){
	zE(function(){
		$zopim(function(){

			zE.hide()

		})

	})
})
</script-->

<!--script src="face-api.js"></script>
<script src="vendor/face/js/commons.js"></script>
<script src="vendor/face/js/drawing.js"></script>
<script src="vendor/face/js/faceDetectionControls.js"></script-->
<!--link rel="stylesheet" href="vendor/face/styles.css"-->
