<!-- eyeEcho landing page -->
<div id="eyeEcho_landing_page" class="eyeEcho_page">
    <img src="./img/jpg_png/landing.jpg" class="eyeEcho-game-background-image" />
    <div id="eyeEcho_landing_page_body">
        <div id="eyeEcho_landing_page_content">
            <img id="eyeEcho_game_landing_page_logo_svg" src="./img/jpg_png/logo.png" alt="logo" />
            <h1 eyeEcho-data-tag="eyeEcho-landing-page-title"></h1>
            <hr class="">
            <p eyeEcho-data-tag="eyeEcho-landing-page-comment" class="eyeEcho-mobile-only-visible"></p>
            <div class="eyeEcho-landing-page-image-container eyeEcho-desktop-only-visible">
                <embed src="./img/svg/desktop.svg" alt="desktop">
                <embed src="./img/svg/mobile.svg" alt="mobile">
            </div>
            <span eyeEcho-data-tag="eyeEcho-landing-page-desktop-description" class="eyeEcho-desktop-only-visible"></span>
        </div>
    </div>
</div>