<!-- eyeEcho landing page -->
<div id="eyeEcho_landing_page" class="eyeEcho_page">
    <img src="./img/jpg_png/landing.jpg" class="eyeEcho-game-background-image" />
    <div id="eyeEcho_landing_page_body">
        <div id="eyeEcho_landing_page_content">
            <img id="eyeEcho_game_landing_page_logo_svg" src="./img/jpg_png/logo.png" alt="logo" />
            <h1 eyeEcho-data-tag="eyeEcho-landing-page-title"></h1>
            <hr class="">
            <p eyeEcho-data-tag="eyeEcho-landing-page-comment"></p>
        </div>
    </div>
</div>