body {
    margin: 0px;
}

canvas {
    width: 100% !important;
    height: 100% !important;
    background: white;
}

// eyeEcho basic styles
.eyeEcho {
    font-family: $fontstack;
    color: white;
}

.eyeEcho-aligin-center {
    text-align: center;
    vertical-align: middle;
}

.eyeEcho-btn {
    text-decoration: none;

    &:hover,
    &:active {
        transition: all 0.1s ease-in-out;
        transform: scale(1.2);
    }
}

.eyeEcho-color-grey {
    background: gray !important;
    opacity: 0.4;
}

.eyeEcho-color-red {
    background: -webkit-linear-gradient(0deg, #d723a5 0%, #e62323 30%, #e62323 70%, #ed700e 100%) !important;

    &-circle {
        background: -webkit-linear-gradient(-45deg, #ff5959, #a50707) !important;
    }

    &-apply {
        background: -webkit-linear-gradient(-70deg, #d723a5 0%, #e62323 30%, #e62323 70%, #ed700e 100%) !important;
    }
}

.eyeEcho-color-orange {
    background: -webkit-linear-gradient(0deg, #e62323 0%, #ed700e 20%, #ed700e 80%, #f8d014 100%) !important;

    &-circle {
        background: -webkit-linear-gradient(135deg, #d64e00, #ffa126) !important;
    }

    &-apply {
        background: -webkit-linear-gradient(-70deg, #e62323 0%, #ed700e 25%, #ed700e 75%, #f8d014 100%) !important;
    }
}

.eyeEcho-color-yellow {
    background: -webkit-linear-gradient(0deg, #ed700e -20%, #f8d014 20%, #f8d014 80%, #30d126 120%) !important;

    &-circle {
        background: -webkit-linear-gradient(135deg, #df9300, #fee433) !important;
    }

    &-apply {
        background: -webkit-linear-gradient(-70deg, #ed700e -20%, #f8d014 25%, #f8d014 75%, #30d126 120%) !important;
    }
}

.eyeEcho-color-green {
    background: -webkit-linear-gradient(0deg, #f8d014 0%, #30d126 25%, #30d126 75%, #2ed5d7 100%) !important;

    &-circle {
        background: -webkit-linear-gradient(135deg, #099400, #75ff6d) !important;
    }

    &-apply {
        background: -webkit-linear-gradient(-70deg, #f8d014 0%, #30d126 25%, #30d126 75%, #2ed5d7 100%) !important;
    }
}

.eyeEcho-color-surprise {
    background: -webkit-linear-gradient(160deg, #e62323, #ed700e, #f8d014, #30d126, #2ed5d7, #1640d6, #7920e4, #d723a5) !important;

    &-circle {
        background: -webkit-linear-gradient(160deg, #e62323, #ed700e, #f8d014, #30d126, #2ed5d7, #1640d6, #7920e4, #d723a5) !important;

        div {
            position: relative;
            width: 100%;
            height: 100%;

            .eyeEcho-surprise-sub {
                position: absolute;
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                background: white;
                width: 94%;
                height: 94%;
                border-radius: 50%;
            }
        }

        label {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 55%;
            left: 50%;
            text-align: center;

            background: -webkit-linear-gradient(135deg, #e62323, #ed700e, #f8d014, #30d126, #2ed5d7, #1640d6, #7920e4, #d723a5);
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
        }
    }

    &-apply {
        background: -webkit-linear-gradient(-70deg, #e62323, #ed700e, #f8d014, #30d126, #2ed5d7, #1640d6, #7920e4, #d723a5) !important;
    }
}

.eyeEcho-color-light-blue {
    background: -webkit-linear-gradient(0deg, #30d126 -20%, #2ed5d7 20%, #2ed5d7 80%, #1640d6 120%) !important;

    &-circle {
        background: -webkit-linear-gradient(135deg, #00acaf, #73fdff) !important;
    }

    &-apply {
        background: -webkit-linear-gradient(-70deg, #30d126 0%, #2ed5d7 25%, #2ed5d7 75%, #1640d6 100%) !important;
    }
}

.eyeEcho-color-dark-blue {
    background: -webkit-linear-gradient(0deg, #2ed5d7 -20%, #1640d6 20%, #1640d6, #7920e4 100%) !important;

    &-circle {
        background: -webkit-linear-gradient(135deg, #0e00a5, #20bdff) !important;
    }

    &-apply {
        background: -webkit-linear-gradient(-70deg, #2ed5d7 -20%, #1640d6 20%, #1640d6, #7920e4 100%) !important;
    }
}

.eyeEcho-color-purple {
    background: -webkit-linear-gradient(0deg, #1640d6 -20%, #7920e4 20%, #7920e4 80%, #d723a5 120%) !important;

    &-circle {
        background: -webkit-linear-gradient(135deg, #44009e, #b966ff) !important;
    }

    &-apply {
        background: -webkit-linear-gradient(-70deg, #1640d6 0%, #7920e4 25%, #7920e4 75%, #d723a5 100%) !important;
    }
}

.eyeEcho-color-pink {
    background: -webkit-linear-gradient(0deg, #7920e4 -20%, #d723a5 20%, #d723a5 80%, #e62323 120%) !important;

    &-circle {
        background: -webkit-linear-gradient(135deg, #970075, #ff5ac3) !important;
    }

    &-apply {
        background: -webkit-linear-gradient(-70deg, #7920e4 0%, #d723a5 25%, #d723a5 75%, #e62323 100%) !important;
    }
}

.eyeEcho-repaint-btn {
    background: -webkit-linear-gradient(90deg, rgba(124, 230, 218, 1) 23%, rgba(210, 232, 73, 0.8743872549019608) 69%, rgba(156, 234, 71, 0.9051995798319328) 78%, rgba(249, 255, 0, 1) 100%);
    color: white;
    margin-top: 3vh;
    padding: 1vw 3vw 1vw 3vw;
    height: fit-content;
    border-radius: 10vw;
    font-size: smaller;
}

.eyeEcho-horizontal-line {
    border-bottom: 1px solid;

    &-white {
        border-color: white;
    }

    &-bold {
        border-width: medium;
    }

    &.eyeEcho-line-bold {
        border-width: medium;
    }

    &.eyeEcho-line-separator {
        border-color: black;
        opacity: 0.1;
    }
}

// eyeEcho onboarding page style
.eyeEcho_theme_picker_body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12vh 5vw 7vh 5vw;

    div,
    p {
        color: $info_color;
    }

    button {
        color: white;
    }

    .eyeEcho-theme_picker-description-title {

        font-size: 6vw;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1.5;

        hr {
            width: 40vw;
            margin: 2vh auto 0;
            border: 0;
            height: 4px;
            background: linear-gradient(90deg, #c77ce6 0%, #5e4df7 24%, #5e4df7 60%, #69bef5 100%);
        }
    }

    .eyeEcho-theme_picker-description-content {
        padding: 3vh 3vw 0vw;

        p {
            text-align: center;
            line-height: 2;
            font-size: 3.3vw;
            font-weight: bold;
            letter-spacing: 0.2vw;
        }
    }

    @media screen and (min-width: 320px) and (max-height: 570px),
    screen and (min-width: 360px) and (max-height: 680px),
    screen and (min-width: 410px) and (max-height: 736px) {
        padding: 10vh 5vw 5vh 5vw;

        .eyeEcho-theme_picker-description-title {
            font-size: 5vw;
        }

        .eyeEcho-theme_picker-description-content {
            p {
                font-size: 3vw;
            }
        }

    }

    @media screen and (min-width: 768px) and (max-height: 1024px),
    screen and (min-width: 1024px) and (max-height: 1366px) {
        padding: 10vh 5vw 5vh 5vw;

        .eyeEcho-theme_picker-description-title {
            font-size: 5vw;
        }

        .eyeEcho-theme_picker-description-content {
            padding: 1vh 3vw 0vw;

            p {
                font-size: 2.5vw;
            }
        }

    }
}

.eyeEcho-circle-container {
    @include on-circle($item-count: 9, $circle-size: 65vw, $item-size: 18vw, $start-angle: -70);
    margin: 9vw auto;
    border: dotted 1px rgba(60, 60, 60, .3);

    span {
        display: block;
        max-width: 100%;
        border-radius: 50%;
        transition: .15s;

        &:hover,
        &:active {
            border: solid 0.8vw white;
            box-shadow: 0px 0px 4vw 0px rgba(0, 0, 0, 0.3);
        }
    }

    label {
        font-size: 3vw;
        line-height: 1.2;
    }

    @media screen and (min-width: 768px) and (max-height: 1024px),
    screen and (min-width: 1024px) and (max-height: 1366px) {
        margin: 0vh auto 3vh;
        @include on-circle($item-count: 9, $circle-size: 55vw, $item-size: 14vw, $start-angle: -70);

        label {
            font-size: 2.5vw;
            line-height: 1.2;
        }
    }

    #eyeEcho-circle-container-color-name {
        position: absolute;
        transform: translate(-25%, 40%);
        text-align: center;
        width: 50%;

        label {
            font-size: 3.5vw;
            line-height: 1.2;
            letter-spacing: 1.2px;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
        }
    }
}

// eye echo landing page
#eyeEcho_landing_page {
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 1;
}

#eyeEcho_landing_page_body {
    background: rgba(0, 0, 0, 0.3);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#eyeEcho_landing_page_content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
        margin: 0 auto;
        width: 12vw;
    }

    hr {
        padding-top: 2vh;
        margin: 0 auto;
        border-bottom: 2px solid;
        width: 8vw;
    }

    font-weight: bold;
    h1 {
        font-size: 13vw;
        padding-top: 1.5vh;
    }

    p {
        font-size: 6vw;
        font-weight: 400;
        letter-spacing: 1px;
        padding-top: 1.5vh;
        padding-bottom: 5vh;
    }

    .eyeEcho-desktop-only-visible {
        display: none;
    }

    @media screen and (min-width: 1280px){
        img {
           width: 50px;
        }

        hr {
            width: 35px;
        }

        h1 {
            font-size: 3em;
        }

        span {
            width: 400px;
            line-height: 2;
            font-weight: 300;
            letter-spacing: 1.2px;
        }

        .eyeEcho-desktop-only-visible {
            display: block;
        }

        .eyeEcho-mobile-only-visible {
            display: none;
        }
    }
}

// eyeEcho landing game page styles
.eyeEcho-game-landing-page-link {
    margin: 0px auto;
    width: 80vw;
    color: $info_color;
    font-size: 4vw;
    letter-spacing: 1.5px;
    font-weight: bold;
    background: white;
    padding: 1.5vh 10vw;
    border-radius: 10vh;
    border: 1px solid white;

    label {
        vertical-align: middle;
    }

    &.disabled {
        background: #ccc;
        color: white;
    }

    &.active {
        background: linear-gradient(90deg, #c77ce6 0%, #5e4df7 24%, #5e4df7 60%, #69bef5 100%);
        color: white;
    }
}

#eyeEcho-theme_picker-start-btn {
    font-size: 3.6vw;
    padding: 2vh 10vw;
}

// eyeEcho game landing page layout style
#eyeEcho_game_landing_page_content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 7vw 7vh 7vw;
    font-weight: bold;
}

.eyeEcho-landing-page-title {
    padding-top: 10vh;
    font-size: 11vw;

    img {
        width: 14vw;
        padding-bottom: 1vh;
    }

    label {
        font-size: 11vw;
        font-weight: bold;
    }

    @media screen and (min-width: 1280px) {
        font-size: 6rem;
        img {
            width: 7rem;
            padding-bottom: 1vh;
        }

        label {
            font-size: 6rem;
            font-weight: bold;
        }
    }
}

.eyeEcho-game-background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -999;
}

// eyeEcho result page style
.eyeEcho-result-image-top-menu {
    background: white;

    height: 8vh;
    width: -webkit-fill-available;

    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
}

#eyeEcho-result-bottom-menu {
    background: white;

    height: 8vh;
    width: -webkit-fill-available;

    display: flex;
    justify-content: space-between;
    padding: 0 10vw;

    position: fixed;
    bottom: 0;
}

#eyeEcho_result_image_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    bottom: 8vh;
    padding: 0 2vw 1vh;

    label {
        font-size: 4vw;
        color: white;
        align-self: center;
    }

    img {
        width: 10vw;
    }
}

.eyeEcho-result-tab-button {
    opacity: .3;

    &.active {
        opacity: 1.0;
    }
}

#eyeEcho_info_page,
#eyeEcho_shop_page {
    overflow: auto;
    padding-bottom: 10vh;
}

.eyeEcho-result-info-count {
    background: linear-gradient(90deg, rgba(124, 230, 218, 1) 23%, rgba(210, 232, 73, 0.8743872549019608) 69%, rgba(156, 234, 71, 0.9051995798319328) 78%, rgba(249, 255, 0, 1) 100%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 10vh 0 10vh;
    font-size: 6vw;

    p {
        color: white;
    }

    #eyeEcho_result_info_blink_count {
        font-weight: bold;
        font-size: 36vw;
    }

    #eyeEcho_result_info_blink_period {
        font-weight: lighter;
        font-size: 36vw;
    }

    @media screen and (min-width: 320px) and (max-height: 570px),
    screen and (min-width: 360px) and (max-height: 680px),
    screen and (min-width: 410px) and (max-height: 736px) {
        padding: 6vh 0 6vh;

        #eyeEcho_result_info_blink_count {
            font-weight: bold;
            font-size: 30vw;
        }

        #eyeEcho_result_info_blink_period {
            font-weight: lighter;
            font-size: 30vw;
        }
    }

    @media screen and (min-width: 768px) and (max-height: 1024px),
    screen and (min-width: 1024px) and (max-height: 1366px) {
        padding: 6vh 0 6vh;

        #eyeEcho_result_info_blink_count {
            font-weight: bold;
            font-size: 25vw;
        }

        #eyeEcho_result_info_blink_period {
            font-weight: lighter;
            font-size: 25vw;
        }
    }
}

.eyeEcho-result-image-element-container {
    height: 84vh;
    overflow: auto;;
}

#eyeEcho_result_image_element {
    width: 100vw;
    height: 100vh;
}

.eyeEcho-result-info-description {
    padding: 7vh 7vw 7vh 7vw;

    div,
    hr,
    p {
        color: $info_color;
    }
}

.eyeEcho-description-title {
    font-size: 6vw;
    font-weight: bold;
    padding-left: 3vw;

    hr {
        width: 60vw;
        padding-top: 2vh;
    }
}

.eyeEcho-description-body {
    padding-top: 4vh;
}

.eyeEcho_description-sub {
    font-size: 4vw;
    display: flex;
    flex-direction: row;
    padding: 2vh 0 2vh;
}

.eyeEcho-icon-number-in-round {
    position: relative;
    margin: 1.5vh 4vw 0vh 0;
    font-size: 4vw;
    font-weight: bold;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    padding: 4vw;
    background: #fff;
    border: 1px solid;
    text-align: center;

    label {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.eyeEcho-description-sub-content {
    p {
        font-family: Arial, Helvetica, sans-serif;
        line-height: 2;
    }
}

#eyeEcho_shop_page {
    img {
        width: 100vw;
    }

    div,
    p {
        font-family: Arial, Helvetica, sans-serif;
        color: $info_color;
    }
}

.eyeEcho-shop-product {
    position: relative;

    img {
        vertical-align: middle;
    }

    .eyeEcho-description-title {
        padding: 0px;
    }
}

.eyeEcho_product-description {
    padding: 5vh 8vw 5vh 8vw;
}

.eyeEcho-product-description-content {
    padding-top: 3vh;

    p {
        color: $info_color;
        font-size: 3.5vw;
        line-height: 1.8;
        padding-right: 12vw;
        letter-spacing: 1.2px;
    }
}

.eyeEcho-product-overlay-description {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    padding: 0px;

    p {
        text-align: center;
        color: white !important;
        font-size: 4.5vw;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 3px;
        padding: 0px;
    }
}

.eyeEcho_shop-link {
    text-align: center;
    padding: 0 0 6vh 0;
}

.eyeEcho-product-overlay-button {
    padding: 0px;
    margin-bottom: 5vh;
    transform: translate(0%, -50%);
}

.eyeEcho-shop-btn {
    vertical-align: middle;
    font-size: 3.5vw;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    background: #f99712;
    padding: 2vh 30vw;
    border-radius: 10vh;
}

// eyeEcho blink game board style
#eyeEcho_blink_game_container {
    background: #eee;
    display: block;
    margin: 0 auto;
    padding: 0px;
    height: 100%;
}

// download menu style
.eyeEcho-vertical-center-link {
    position: relative;
}

#eyeEcho_download_icon {

    @media screen and (min-width: 768px) and (max-height: 1024px),
    screen and (min-width: 1024px) and (max-height: 1366px) {
        transform: translate(0, 3vh);
    }

    transform: translate(0, 50%);
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    top: 0;
    right: 0;
    bottom: -25vh;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99999;
    opacity: 0;
    transition: all 300ms ease-in;
    pointer-events: none;

    div,
    a {
        color: black;
        text-decoration: none;
    }
}

.modalDialog:target {
    opacity: 1;
    transform: translate(0, -25vh);
    pointer-events: auto;
}

.close {
    position: fixed;
    bottom: 25vh;
    width: 100vw;
    height: 100%;
}

.eyeEcho_download_modal_body {
    background: white;

    position: fixed;
    bottom: 0px;

    width: 100vw;
    height: 25vh;
}

.eyeEcho_download_modal_sub {
    padding: 1vh 4vw 0 4vw;

    div {
        padding: 1vh 0 1vh;
    }

    #eyeEcho_madal_title {
        font-size: 4vw;
        font-weight: bold;
    }

    #eyeEcho_modal_save_camera_roll {
        font-size: 4vw;
        color: $info_color;
    }

    #eyeEcho_share_icons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .eyeEcho_modal_icon_item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        text-align: center;

        font-size: 4vw;

        img {
            width: 6vw;
        }

    }

    @media screen and (min-width: 768px) and (max-height: 1024px),
    screen and (min-width: 1024px) and (max-height: 1366px) {
        font-size: 4vw;

        div {
            padding: 0 0 1vh;
        }

        #eyeEcho_madal_title {
            font-size: 3vw;
            font-weight: bold;
        }

        .eyeEcho_modal_icon_item {
            font-size: 3vw;
        }

        img {
            width: 5vw;
        }
    }
}