<div id="eyeEcho_body">
  <div id="eyeEcho_header">

  </div>

  <% include ../partials/landing_page.ejs %>

  <% include ../partials/onboarding_page.ejs %>

  <% include ../partials/camera_page.ejs %>

  <% include ../partials/results_page.ejs %>

</div>
