<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<% include ../partials/header.ejs %>
</head>
<body style="margin: 0;">
  <div id="__brfv5" class="__brfv5" style="display: none;">

    <div id='__brfv5__code_container' class="swl mc bg-pb">
  
      <pre><code class="javascript" id="__brfv5_code"></code></pre>
  
    </div>
  </div>
<div id="dml_eyeEcho_wrapper">
  <script>window.eyeEcho_isEmbed=false;</script>
  <script src ="<%=FRONTEND_URL%>/eyeEchoembed.js"></script>
</div>
</body>
</html>
